.g-2.row {
  margin-top: 10px;
}

#floatingInputGrid {
  border: 3px solid rgba(0, 0, 0, 0.635);
}

.form-floating>.form-select {
  border: 3px solid rgba(0, 0, 0, 0.635);
}

.formcharacter.form-control {
  border: 3px solid rgba(0, 0, 0, 0.635);
}

.buttoncharacter.btn-outline-secondary{
  border: 3px solid rgba(0, 0, 0, 0.635);
  color: black;
  background-color: whitesmoke;
}

.mb-3.input-group {
  height: 59px;
}

#formFile {
  width: 400px;
  height: 42px;
  border: 3px solid rgba(0, 0, 0, 0.635);
}

.butonimage.btn.btn-outline-secondary{
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  appearance: none;
  background-color: brown;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 15px;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  will-change: transform,opacity;
  z-index: 0;
}

.butonimage.btn.btn-outline-secondary:hover {
  background: #F6F9FE;
  color: brown;
}

.butonimage.btn.btn-outline-secondary:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.butonimage.btn.btn-outline-secondary:focus {
  outline: none;
  border: 2px solid brown;
}

.butonimage.btn.btn-outline-secondary:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.butonimage.btn.btn-outline-secondary:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.butonimage.btn.btn-outline-secondary:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.butonimage.btn.btn-outline-secondary:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.butonimage.btn.btn-outline-secondary:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
