.details {
  margin-top: 50px;
}

.text-details {
  text-align: center;
}

.comic-image {
  box-shadow: rgba(0, 0, 0, 0.666) 0px 5px 15px;
}

.butondelete, .butonupdate, .butonapprove {
  align-items: center;
  appearance: none;
  background-color: brown;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 15px;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
  will-change: transform, opacity;
  z-index: 0;
}

.butonapprove:hover {
  background: #F6F9FE;
  color: brown;
}

.butonupdate:hover {
  background: #F6F9FE;
  color: brown;
}

.butondelete:hover {
  background: #F6F9FE;
  color: brown;
}

.butondelete, .butonupdate, .butonapprove :active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.butondelete, .butonupdate, .butonapprove :focus {
  outline: none;
  border: 2px solid brown;
}

.butondelete, .butonupdate, .butonapprove :not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.butondelete, .butonupdate, .butonapprove :not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.butondelete, .butonupdate, .butonapprove :not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.butondelete, .butonupdate, .butonapprove :not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.butondelete, .butonupdate, .butonapprove :disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}